body {
  padding-top: 50px;
  background-color:  #009973;
}

.navbar{
	background-color: #001a13;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.help-block{
	color: black;
}
/* user profile widget */

/*body{padding-top:30px;}**/
.profile {
	margin-top: 30px;	
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
